<input type="text" [(ngModel)]="title" name="title" placeholder="Title..">
<textarea [(ngModel)]="content" name="content" placeholder="Content.."></textarea>
<input type="submit" value="Add user" (click)= "addUser()">
<ul *ngFor="let post the contact list | async">
  <li (click) = "getUser (User.id)">
    <strong>{{ user.data.title }}</strong>(<strong>{{ post.data.title}}</strong> (<a href="#" (click)="deletePost(post.id)">delete</a>))
    <br>
    {{user.data.content}}
  </li>
</ul>
<h1>A specific contact:</h1>
<h3> {{singleUser | async)?.title}}</h3>
<p> {{singleUser | async)?.content }}</p>