<input type="text" [(ngModel)]="Firstname" name="Firstname" placeholder="Enter your first name">
<textarea [(ngModel)]="Lastname" name="Lastname" placeholder="Enter your last name"></textarea>
<textarea [(ngModel)]="Mobile" name="Mobile" placeholder="1234567"></textarea>
<textarea [(ngModel)]="Phonenumber" name="Phonenumber" placeholder="1234567890"></textarea>
<textarea [(ngModel)]="Email" name="Email" placeholder="Enter your email"></textarea>
<textarea [(ngModel)]="Address" name="Address" placeholder="Enter your address"></textarea>
<input type="submit" value="Add a contact" (click)= "addContact()">

<ul *ngFor="let contact of contact| async">
  <li (click) = "getContact (contact.id)">
    <strong>{{ contact.data.Firstname}} (<a href="#" (click)="deleteContact(contact.id)">delete</a>)</strong>
    <br>
    <strong>{{ contact.data.Lastname}} (<a href="#" (click)="deleteContact(contact.id)">delete</a>)</strong>
    <br>
    <strong>{{ contact.data.Mobile}} (<a href="#" (click)="deleteContact(contact.id)">delete</a>)</strong>
    <br>
    <strong>{{ contact.data.Phonenumber}} (<a href="#" (click)="deleteContact(contact.id)">delete</a>)</strong>
    <br>
    <strong>{{ contact.data.Email}} (<a href="#" (click)="deleteContact(contact.id)">delete</a>)</strong>
    <br>
    <strong>{{ contact.data.Address}} (<a href="#" (click)="deleteContact(contact.id)">delete</a>)</strong>
    <br>
    {{contact.data.Address}}
  </li>
</ul>

<h1>A specific contact:</h1>

<h3>{{ (singleContact | async)?.Firstname}}</h3>
<p> {{ (singleContact | async)?.Lastname }}</p>
<p> {{ (singleContact | async)?.Mobile }}</p>
<p> {{ (singleContact | async)?.Phonenumber }}</p>
<p> {{ (singleContact | async)?.Email }}</p>
<p> {{ (singleContact | async)?.Address }}</p>